spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/oneonone}
    username: ${SPRING_DATASOURCE_USERNAME:oneonone}
    password: ${SPRING_DATASOURCE_PASSWORD:oneonone}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  flyway:
    enabled: true
server:
  port: 8080
